# ignore log files
*.log

=4.37.2
tmp/*
data/*
cleaned_data/*
old/
__pycache__/

# ignore specific file
.DS_Store

# ignore .env files
.env
.conda

test
slurm_output

AAE/eval
AAE/data_preprocessing
data
AAE/fine_tuning_experiments
data_old
models
new/slurm_output
slurm_output
AAE/new/data
new/src/coraal_gen_3_.py
new/src/coraal_gen_3.py
new/src/coraal_gen_2.py
new/src/gen_2.py
new/src/inf_new/   
gen_for_coraal_2.py
coraal_gen_3.py
AAE/new/src/classifier.py
/new/src/main.py
/new/test

compile_error.txt
compile_output.txt
muse_prompts.txt
new/scripts/data_clean.sh
new/scripts/install_fa.sh
new/scripts/run_chat_mode.sh


new/src/coraal_gen_.py
new/src/coraal_gen_2.py
new/src/coraal_gen_3_.py
new/src/csv_to_json.py
new/src/csv_to_json_2.py
new/src/gen_2.py
new/src/generator.py
new/src/generator_2.py
new/src/json_to_csv.py
new/src/llmtuner/
new/src/llmtuner_old/
new/src/np_test.txt
AAE/new/test
new/src/coraal_gen.py
.gitignore

